<% content_for(:body, "profile")%>
Add a Profile Below:

<!--As a user, when I submit my profile with a first_name, last_name, blurb, and hobbies, I can see my profile information on the same page-->

<form action="/profile" method="get">
  <label for="first_name">First Name:</label>
  <input name="first_name" type="string"/>
    <br/>
  <label for="last_name">Last Name:</label>
  <input name="last_name" type="string"/>
    <br/>
  <label for="blurb">A blurb about yourself:</label>
  <input name="blurb" type="string"/>
    <br/>
  <label for="hobbies">Hobbies:</label>
  <input name="hobbies" type="string"/>
    <br>
  <input type="submit" value="Update Profile"/>
</form>

<h5> <%=@first_name%>, <%=@last_name%>, <%=@blurb%>, <%=@hobbies%> </h5>


