Number quadrupled is: <%= @quadruple%>

<form action="/quadruple" method="get">
  <label for="quadruple"> Number:</label>
  <input name = "number" type = "number"/>
  <br/>
  <input type="submit" value="Submit Data"/>
</form>
